<header class="site-header">
    <div class="container">
        <a href="{{ site.baseurl }}/" class="poplus-logo-tab">Poplus</a>
        <a href="{{ site.baseurl }}/" class="site-title"><span class="component-title">WriteIt</span><span class="dot-poplus">.Poplus</span></a>
        <div class="primary-navigation-position">
            <nav role="navigation" class="primary-navigation nav-collapse">
                <ul>
                    <li><a href="https://github.com/ciudadanointeligente/write-it/blob/master/README.md">About</a></li>
                    <!-- <li><a href="https://github.com/ciudadanointeligente/write-it/blob/master/README.md">Documentation</a></li> -->
                    <li><a href="https://github.com/ciudadanointeligente/write-it/blob/master/LICENSE.txt">License</a></li>
                    <li><a href="https://github.com/ciudadanointeligente/write-it">Github</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
